---
import BaseLayout from '../layouts/BaseLayout.astro';
import Gallery from '../components/Gallery.astro';
---

<BaseLayout 
  title="Giới thiệu" 
  description="Tony Nguyen | Lập trình viên Front End React"
  image='https://www.tonynguyen.me/assets/about-me.webp'
	url='https://www.tonynguyen.me/about'
>
	<div class="stack gap-20">
		<div class="stack gap-15">
			<main class="about">
        <div class="about_hero stack gap-4">
          <div class="stack gap-2">
            <h1 class="title">Giới thiệu</h1>
            <p class="about_social">
              Thành phố Hồ Chí Minh, Việt Nam | 
                <a href="https://www.facebook.com/nhattruongniit" target="_blank"> Facebook</a> | 
                <a href="https://www.linkedin.com/in/truong-nguyen-7898834b/" target="_blank"> Linkedin</a> | 
                <a href="https://github.com/nhattruongniit" target="_blank"> Github</a>
            </p>
            <p class="tagline mt-4">Tôi là lập trình viên front-end với niềm đam mê tạo ra giao diện người dùng đẹp mắt và hiệu quả.
              Tôi có kinh nghiệm làm việc với React, Typescript/Javascript và Tailwind CSS. Tôi luôn tìm cách học công nghệ mới và nâng cao kỹ năng của mình.
            </p>
          </div>
          <img
            width="1553"
            height="873"
            src="/assets/about-me.webp"
            alt="Tony Nguyen làm việc cùng đồng nghiệp"
          />
        </div>
        <div class="content mt-12 mb-8 text-center">
					Là thành viên tích cực của cộng đồng công nghệ, tôi thích đóng góp vào các hoạt động cộng đồng
          giúp mọi người đạt được mục tiêu trong lĩnh vực phát triển web. Dù hướng dẫn ai đó làm dự án đầu tiên
          hay trau dồi các khái niệm nâng cao, tôi luôn cam kết làm cho việc học trở nên dễ tiếp cận và thú vị với tất cả mọi người.
        </div>

        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          <Gallery 
            title="Mentor React"
            alt="Mentor React"
            src="/assets/community/mentor-react.webp"
          />
          <Gallery 
            title="Mentor Javascript nâng cao"
            alt="Mentor Javascript nâng cao"
            src="/assets/community/mentor-advance-javascript.webp"
          />
          <Gallery 
            title="Mentor CSS cơ bản"
            alt="Mentor CSS cơ bản"
            src="/assets/community/mentor-css-basic.webp"
          />
          <Gallery 
            title="Mentor Front End"
            alt="Mentor Front End"
            src="/assets/community/mentor-frontend.webp"
          />
          <Gallery 
            title="Mentor HTML CSS"
            alt="Mentor HTML CSS"
            src="/assets/community/mentor-html-css.webp"
          />
          <Gallery 
            title="Mentor Javascript"
            alt="Mentor Javascript"
            src="/assets/community/mentor-javascript.webp"
          />
          <Gallery 
            title="Mentor CSS Table"
            alt="Mentor CSS Table"
            src="/assets/community/mentor-css-table.webp"
          />
        </div>
        
			</main>
		</div>

    
	</div>
</BaseLayout>

<style>
  .about_hero {
		font-size: var(--text-lg);
		text-align: center;
		width: 60ch;
    max-width: 100%;
		margin: 0 auto;
	}

  .about_hero img {
		width: 50ch;
    margin: 0 auto;
	}

  .about_hero .tagline {
    font-size: 1rem;
  }

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

  section {
		display: flex;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		font-size: 1.625rem;
		color: var(--gray-0);
    margin-right: 20px;
	}

  .about_social a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

  .about {
    width: 100%;
    max-width: 83rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
</style>
