---
import BaseLayout from '../layouts/BaseLayout.astro';

import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

import { getCourseWorks } from '../utils/course';

// data
const courseWorks = await getCourseWorks();
---

<BaseLayout
	title="My Course | Tony Nguyen"
	description="Learn about Tony Nguyen's most recent course"
	url="https://www.tonynguyen.me/course"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Course"
				tagline="A collection of my course works"
				align="center"
			/>
			<Grid variant="offset">
				{
					courseWorks.map((course) => (
						<>
							<li>
								<PortfolioPreview href="course" dataSource={course} />
							</li>
						</>
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>
